<footer class="site-footer">

  <div class="wrapper">
    <ul>
      <li>{{ site.company-description | markdownify }}</li>
      <li>{{ site.telephone           | markdownify }}</li>
      <li>{{ site.copyright           | markdownify }}</li>
      <li>{{ site.credits             | markdownify }}</li>
    </ul>
  </div>

</footer>

<script src="/lightbox/js/jquery-1.11.0.min.js"></script>
<script src="/lightbox/js/lightbox.min.js"></script>
<script type="text/javascript">
  if (location.pathname === '/' && Math.floor(Math.random()*2)) {
    $('.contact .inner p').last().detach().insertBefore('.contact .inner p').first();
  }
</script>
