// Page wrapper
.page-wrapper {
  display: block;
  margin: 4px auto;
  max-width: $page-max-width;

  .page-image {
    float: left;
    margin-right: 28px;
  }

  .page-content {
    width: 100%;
  }
}

// page-body with image
.servicing {
  .page-body {
    ul {
      margin-left: 295px;
    }
  }
}

.home {
  .page-body {
    display: inline-block;
    width: 60%;
  }

  .contact {
    border: 2px solid #000;
    display: inline-block;
    float: right;
    height: 200px;
    width: 200px;
    .inner {
      border: 1px solid black;
      margin: 2px;
      min-height: 181px;
      text-align: center;
      padding: 6px;
    }
  }
}

/**
 * Site header
 */
.site-header {
  ul.contact { display: none; }
  color: $header-text-color;
  margin: 14px 12px 0 12px;
  min-height: 120px;
  text-align: center;

  background-color: $header-color-dark;

  -webkit-border-top-left-radius: $header-border-radius;
  -webkit-border-top-right-radius: $header-border-radius;
  -moz-border-radius-topleft: $header-border-radius;
  -moz-border-radius-topright: $header-border-radius;
  border-top-left-radius: $header-border-radius;
  border-top-right-radius: $header-border-radius;

  .est {
    font-family:serif;
    float:left;
    margin-top:32px;
    max-width:80px;
  }

  .logo {
    padding-top: 18px;
    display: inline-block;
    text-transform: uppercase;

    .site-title {
      margin: 22px auto 6px auto;
      font-family: Times New Roman, serif;
      font-size: 46px;
      color: $header-text-color;
      line-height: 56px;
      letter-spacing: -1px;
      text-decoration: none;

      &,
      &:visited {
        color: $header-text-color;
      }
    }
  }

  .hetas-approved {
    float: right;
    margin-top: 18px;

    a {
      background: url('/images/hetas-logo.png') no-repeat;
      display: inline-block;
      height: 60px;
      text-indent: -10000px;
      width: 130px;
    }
  }

  .telephone {
    margin: 2px auto;
    text-align: center;
  }

  .site-nav {
    font-size: 18px;
    text-align: center;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $navigation-text-color;
        line-height: $base-line-height;
        font-weight: bold;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}
}

.summer-deal {
  position: relative;
  top: -26px;
  float: left;
  display: inline-block;
  height: 176px;
  width: 216px;
  background:url('/images/summer-deal.png') no-repeat;
  text-indent: -10000px
}

.offers {
  font-family: Times New Roman, serif;
  font-size: 1.4em;
  line-height: 1.8;
  color: #000;
  width: 100%;
  min-height: 86px;
  background: linear-gradient(to right, #f67402, #ffcf00);
  margin: 23px auto 3px auto;
  text-align: center;
}


/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;

    ul {
      list-style: none;
      li {
        float: left;
        margin-right: 10px;
      }
    }
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}


body {
}
/**
 * Page content
 */
.page-content {
//    max-width: $page-max-width;
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.testimonials {
  ul {
    list-style-type: none;
    .testimonial {
      margin-bottom: 26px;
      color: #333;

      .testimonial-body {
        font-style: italic;
      }
      .testimonial-author {
        font-weight: bold;
      }
    }
  }
}

/**
 * Recent installations
 *
 */
.gallery-wrapper {
  margin: 2px auto 2px auto;
  text-align:center;
  .thumbnail-wrapper {
    text-align: center;
    margin: 2px 0px 2px 0px;
    padding: 2px;
    border: 1px solid #ccc;
    display: inline-block;
    height: 129px;
    width: 129px;

    a {
      display: block;
      height: 125px;
      overflow: hidden;
      width: 125px;

      img {
        @include vertical-align;
        margin: 2px;
        max-height: 250px;
        max-width: 250px;
      }
    }
  }
}

@media all and (max-width: 882px) {
  .site-header {
    .est {
      float: none;
      margin: 18px auto 2px auto;
      max-width: 100%;
      text-align: center;
    }

    .logo {
      .site-title {
        font-size: 30px;
      }
    }

    .site-nav {
      background: url('/images/menu-icon.png') no-repeat;
      border: none;
      height: 30px;
      left: 4px;
      position: absolute;
      top: 12px;
      width: 50%;

      .trigger {
        margin-top: 30px;

        .page-link {
          background-color: #000;
          margin-left: 0px;
        }
      }
    }

    .hetas-approved {
      clear: both;
      float: none;
      margin: 6px auto;
    }

    ul.contact {
      display: inline-block;
      list-style-type: none;
      margin: 6px auto;

      li {
        a {
          color: #fff;
          font-size: 26px;
          font-weight: bold;
          text-decoration: underline;
        }
      }
    }
  }

  .home {
    .page-body { width: 95%; }
    .page-image { display: none }
    .contact { display: none }
  }
}
