@font-face {
  font-family:"Guevara";
  src: url("./guevara.ttf") /* TTF file for CSS3 browsers */
}
/**
 * Page wrapper
 */
.page-wrapper {
   display: block;
   margin:  4px auto 4px auto;
   max-width: $page-max-width;

   .page-image {
     float: left;
     margin-right: 28px;
   }

   .page-content {
     width: 100%;
   }
}

/** page-body with image */
.servicing {
  .page-body {
    ul {
      margin-left: 295px;
    }
  }
}
.home {
  .page-body {
    width: 60%;
    display: inline-block;
  }
  .contact {
    display: inline-block;
    float:right;
    height: 200px;
    width: 200px;
    border: 2px solid black;
    .inner {
      border: 1px solid black;
      margin: 2px;
      min-height: 181px;
      text-align: center;
      padding: 6px;
    }
  }
}

/**
 * Site header
 */
.site-header {
  margin: 14px 12px 0 12px;
  min-height: 120px;
  color: $header-text-color;
  text-align: center;

  background-color: $header-color-dark;

  -webkit-border-top-left-radius: $header-border-radius;
  -webkit-border-top-right-radius: $header-border-radius;
  -moz-border-radius-topleft: $header-border-radius;
  -moz-border-radius-topright: $header-border-radius;
  border-top-left-radius: $header-border-radius;
  border-top-right-radius: $header-border-radius;

  .logo {
    padding-top: 18px;
    display: inline-block;
    text-transform: uppercase;

    .site-title {
      margin: 22px auto 6px auto;
      font-family: Times New Roman, serif;
      font-size: 46px;
      color: $header-text-color;
      line-height: 56px;
      letter-spacing: -1px;
      text-decoration: none;

      &,
      &:visited {
        color: $header-text-color;
      }
    }
  }

  .hetas-approved {
    float:right;
    margin-top: 18px;

    a {
      display: inline-block;
      width: 130px;
      height: 60px;
      background: url("/images/hetas-logo.png") no-repeat;
      text-indent: -10000px;
    }
  }

  .telephone {
    text-align: center;
    margin: 2px auto 2px auto;
  }

  .site-nav {
    text-align: center;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $navigation-text-color;
        line-height: $base-line-height;
        font-weight: bold;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}
}

.summer-deal {
  position: relative;
  top: -26px;
  float: left;
  display: inline-block;
  height: 176px;
  width: 216px;
  background:url('/images/summer-deal.png') no-repeat;
  text-indent: -10000px
}

.offers {
  font-family: Times New Roman, serif;
  font-size: 1.4em;
  line-height: 1.8;
  color: #000;
  width: 100%;
  min-height: 86px;
  background: linear-gradient(to right, #f67402, #ffcf00);
  margin: 23px auto 3px auto;
  text-align: center;
}


/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;

    ul {
      list-style: none;
      li {
        float: left;
      }
    }
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}


body {
}
/**
 * Page content
 */
.page-content {
//    max-width: $page-max-width;
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.testimonials {
  ul {
    list-style-type: none;
    .testimonial {
      font-size: 0.85em;
      margin-bottom: 26px;
      color: #333;

      .testimonial-body {
        line-height: 1;
        font-style: italic;
      }
      .testimonial-author {
        line-height: 0.8;
        font-weight: bold;
      }
    }
  }
}

/**
 * Recent installations
 *
 */
.recent-installations, .testimonials {
  .gallery-wrapper {
    margin: 2px auto 2px auto;
    text-align:center;
    .thumbnail-wrapper {
      text-align: center;
      margin: 2px 0px 2px 0px;
      padding: 2px;
      border: 1px solid #ccc;
      display: inline-block;
      height: 129px;
      width: 129px;
      a {
        height: 125px;
        width: 125px;
        display: block;
        overflow: hidden;
        img {
          @include vertical-align;
          margin: 2px;
          max-height: 250px;
          max-width: 250px;
        }
      }
    }
  }
}
